<header class="portfolio-bg portfolio-bg_sm">
    <div class="container">
      <div class="icons-wrapper">
        <div class="logo-icon">
          <a href="/"><img src="img/portfolio/logo.png" alt="Logo"></a>
        </div>
        <div class="user-icon">
          <a href="/about"><img src="img/portfolio/user.png" alt="User"></a>
        </div>
      </div>
    </div>
  </header>