<%- include('sections/doc-top'); %> <%- include('sections/header'); %>
<main>
  <div class="container">
    <section>
      <h1>About</h1>
      <div class="row">
        <div class="col-flex-2 col">
          <div class="item managers-block">
            <h2>Join the community campervan sites managers.</h2>
            <img class="avatar" src="https://i.pravatar.cc/300?img=3" alt="Me">
            <p>
              Discover all the equibbed areas in Italy. Find the shop with all
              the services for you and your camper.
            </p>
          </div>
        </div>
        <div class="col">
            <h3>My photos</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus, cum.</p>
        </div>
        <div class="col">
            <h3>My photos</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus, cum.</p>
        </div>
        <div class="col">
            <h3>My photos</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus, cum.</p>
        </div>
      </div>
    </section>
  </div>
</main>
<%- include('sections/footer'); %> <%- include('sections/doc-bottom'); %>
