<footer>
    <div class="container footer-bg">
      <div class="border-bottom">
      <div class="row footer-lists">
        <div class="col-flex-2 col">
          <p class="author">Easy Camper</p>
          <h1>When<br> Passion<br> Meets<br> Comfort.</h1>
        </div>
      <div class="col">
        <h6>Discover the Network</h6>
        <ul class="links">
          <li><a href="#">Where to shop</a></li>
          <li><a href="#">Tour Guided</a></li>
          <li><a href="#">Our Tours</a></li>
          <li><a href="#">About Us</a></li>
        </ul>
      </div>
      <div class="col">
        <h6>Become a Manager</h6>
        <ul class="links">
          <li><a href="#">Join your Pairing</a></li>
          <li><a href="#">Offer your Service</a></li>
          <li><a href="#">Are you a guide?</a></li>
        </ul>
      </div>
      <div class="col">
        <h6>Assistance</h6>
        <ul class="links">
          <li><a href="#">Support Center</a></li>
          <li><a href="#">FAQs</a></li>
          <li><a href="#">Cancallation Options</a></li>
          <li><a href="#">Reliablity and Sequrity</a></li>
        </ul>
      </div>
    </div>
  </div>
      <div class="copyright">
        <p>EazyCamper. All rights reserved. </p>
      </div>
      <div class="nav-footer">
        <a href="#">About</a>
        <a href="#">Site Map</a>
        <a href="#">Terms</a>
        <a href="#">Privacy Policy</a>
        <a href="#">Teams</a>
      </div>
    </div>
  </div>
  </footer>