<div class="icons-wrapper">
  <div class="logo-icon">
    <a href="/home"><img src="img/portfolio/logo.png" alt="Logo" /></a>
  </div>
  <!-- <div class="user-icon">
    <a href="/about"><img src="img/portfolio/user.png" alt="User" /></a>
  </div> -->
  <ul class="header-menu">
    <li><a href="/about">About</a></li>
    <li><a href="/portfolio">Portfolio</a></li>
  </ul>
</div>
